<app-page-layout
    [title]="title"
    [subTitle]="subTitle"
    [appName]="appName"
    [stepNumber]="'02'"
    [showSimplifiedState]="true"
    [paragraphs]="paragraphs"
    [bgColor]="bgColor">
    <div rightContent class="flex flex-col w-full h-full space-y-8">
        <app-status-bar length="100%" [value]="progressValue" [numOfSteps]="numberOfSteps" [showProgress]="true"> </app-status-bar>

        <div class="flex flex-col flex-1 min-h-0">
            <div class="flex-1 overflow-hidden">
                <div
                    class="h-full overflow-y-auto scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-track-transparent scrollbar-thumb-slate-200 hover:scrollbar-thumb-slate-300 active:scrollbar-thumb-slate-400">
                    <div class="space-y-4">
                        <h2 class="text-2xl font-bold text-gray-800">Optional business expenses</h2>

                        <div class="my-4" id="formgroup">
                            <form class="space-y-4" [formGroup]="business2Form">
                                <div class="relative flex gap-4">
                                    <app-input
                                        type="text"
                                        id="business-ads-value"
                                        size="two-third"
                                        label="Advertising"
                                        hint="Google Ads? Print or online ads? Facebook? Instagram?"
                                        [control]="getControl('ads.value')">
                                    </app-input>
                                    <app-select id="business-ads-rate" size="one-third" label="Rate" [data]="rateOptions" [control]="getControl('ads.rate')">
                                    </app-select>
                                </div>
                                <div class="relative flex gap-4">
                                    <app-input
                                        type="text"
                                        id="business-legal-value"
                                        size="two-third"
                                        label="Legal & Accounting"
                                        hint="Contracts? Taxes? Accounting? Legal advice?"
                                        [control]="getControl('legal.value')">
                                    </app-input>
                                    <app-select
                                        id="business-legal-rate"
                                        size="one-third"
                                        label="Rate"
                                        [data]="rateOptions"
                                        [control]="getControl('legal.rate')">
                                    </app-select>
                                </div>
                                <div class="relative flex gap-4">
                                    <app-input
                                        type="text"
                                        id="business-self-value"
                                        size="two-third"
                                        label="Professional Development"
                                        hint="Tuition? Professional classes? Networking events?"
                                        [control]="getControl('self.value')">
                                    </app-input>
                                    <app-select id="business-self-rate" size="one-third" label="Rate" [data]="rateOptions" [control]="getControl('self.rate')">
                                    </app-select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-between flex-none mt-6">
                <app-button variant="secondary" fontWeight="semibold" outlined="yes" (onClick)="navigate('back')"> Back </app-button>

                <app-button variant="primary" fontWeight="semibold" (onClick)="navigate('next')"> Next </app-button>
            </div>
        </div>
    </div>
</app-page-layout>
