<div class="flex-container border-radius--all">
    <section class="section bg-blue section-title">
        <header>
            <h3 class="logo-title">Freelance Rate Calculator</h3>
        </header>
        <article class="article">
            <header class="header">
                <span class="index">00</span>
                <span class="sub-title">Landing</span>
                <h1 class="main-title">Fee Calculator</h1>
            </header>
        </article>
    </section>
    <section class="section bg-white section-content landing-section">
        <form class="form landing-form">
            <span> Let's start your calculation </span>
            <button class="button button-cta" title="Start">Start</button>
        </form>
    </section>
</div>
