@charset "UTF-8";
@use "@angular/material" as mat;
@import "./../../../../variables";
@import "./../../../../mixins";

:host {
    display: grid;
}

.card {
    display: flex;
    align-items: stretch;
    align-self: center;
    flex-direction: row;
    box-shadow: $box-shadow;
    height: 65%;
    width: 80vw;
    max-width: 1180px;

    &__section {
        height: 0;
        min-height: calc(70vh - 40px);
        max-height: 700px;
        padding: 20px;
        flex: 1 1 0px;

        &--left {
            border-radius: 10px 0 0 10px;
        }

        &--blue {
            background-color: $blue;
            color: $white;
        }

        &--white {
            background-color: $white;
            border-radius: 0 10px 10px 0;
        }

        &--gray {
            background-color: $gray-light;
            color: $gray;

            .card-logo {
                color: $green;
            }

            .card-article__index {
                opacity: 0.25;
            }
        }
    }
}

.section-content {
    order: 1;
    flex-grow: 1;
    word-wrap: break-word;

    &--landing {
        @include font-size(18px);
        line-height: 1.5em;
        color: $gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--stepper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
    }
}

.card-logo {
    @include font-size(24px);
    font-family: $font-poppins;
    margin: 0;
    font-weight: $font-weight-semibold;
}

.card-article {
    margin: 60px 60px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__index {
        @include font-size(32px);
        line-height: 0.75em;
        opacity: 0.5;
    }

    &__sub {
        @include font-size(18px);
        font-weight: $font-weight-bold;
    }

    &__main {
        @include font-size(54px);
        margin-top: 30px;
    }

    &__list-viewport {
        height: 35vh;
        width: 28vw;
    }

    &__list-group-title {
        @include font-size(18px);
        font-weight: $font-weight-bold;
        color: $blue;
        margin: 0.75em 0 0;
    }

    &__list-group-title-icon {
        line-height: 1.5;
        margin-right: 10px;
    }

    &__item {
        @include font-size(14px);
        padding: 0 !important;
        width: 26vw !important;
    }

    &__itemtext {
        color: $gray;
        font-weight: $font-weight-semibold;
        opacity: 0.75;
    }

    &__icon {
        line-height: 1.5;
        padding-right: 10px;
        color: $green;
    }

    &__table {
        width: 100%;

        & + .card-article__table {
            margin-top: 20px;
        }
    }

    &__caption {
        color: $orange;
        text-align: left;
        font-weight: $font-weight-semibold;
    }

    &__th {
        text-align: left;
        font-weight: $font-weight-semibold;
    }

    &__td {
        @include font-size(14px);
        text-align: left;
    }
}

.card-article__text {
    &--main {
        @include font-size(14px);
        line-height: 1.2em;
        margin-top: 20px;
    }

    &--sub {
        @include font-size(12px);
        line-height: 1.2em;
        font-weight: $font-weight-light;
    }

    &--bold {
        color: $gray;
        font-weight: $font-weight-semibold;
    }

    &--sub + .card-article__text--sub {
        margin-top: -12px;
    }
}

.card-stepper {
    &__form {
        display: block;
        padding: 0;
        margin: 0;
    }

    &__title {
        margin-top: 0;
    }

    &__button-holder {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__button {
        font-family: $font-poppins;
        font-weight: $font-weight-semibold;
        border-radius: 18px !important;
        transition: border-color 0.15s;

        .btn-icon {
            color: rgba($color: $gray, $alpha: 0.5);
        }

        &:hover,
        &:focus {
            border-color: rgba($color: $gray, $alpha: 0.35) !important;
        }

        & + .card-stepper__button {
            margin-left: 20px;
        }
    }

    &__result-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__result-title {
        color: $blue;
    }
}

.input-field {
    @include mat.all-component-densities(-2);
    margin-bottom: 8px;

    &--full {
        width: 100%;
    }

    &--half {
        width: 48%;

        & + .input-field--half {
            margin-left: 4%;
        }
    }

    &--third {
        width: 32%;

        & + .input-field--third {
            margin-left: 2%;
        }
    }

    &--quarter {
        width: 24%;

        & + .input-field--quarter {
            margin-left: 2%;
        }
    }

    &--seventy {
        width: 74%;

        & + .input-field--quarter {
            margin-left: 2%;
        }
    }
}

.slide-toggle {
    margin-bottom: 8px;

    &--inside-group {
        margin-top: 10px;
    }
}

.checkbox {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.radiobutton {
    margin: 10px 0 8px;
}

.input-group {
    @include clearfix();
    width: 100%;
}

.align-start {
    float: left;
}

.align-end {
    float: right;
}

.button {
    border: none;
    box-shadow: $box-shadow;
    font-family: $font-nunito;
    letter-spacing: 0.75;
    font-weight: $font-weight-semibold;
    border-radius: 3px;
    padding: 10px 25px;
    transition: all 0.5s;
    margin-top: 25px;
    cursor: pointer;

    &--primary {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: darken($color: $blue, $amount: 20);
        }
    }

    &--cta {
        display: block;
    }
}

.amount {
    @include font-size(46px);
    color: $blue;
    font-weight: $font-weight-bold;
}

// Material overwrites
.mat-horizontal-stepper-content:not(.mat-horizontal-stepper-content-inactive) {
    min-height: calc(70vh - 80px);
    position: relative;
}
.mat-mdc-form-field-hint {
    @include font-size(14px);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: rgba($color: $gray, $alpha: 0.2);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba($color: $gray, $alpha: 0.35);
}
.mat-horizontal-content-container {
    padding: 0 !important;
    min-height: calc(70vh - 80px);
}
.mat-horizontal-stepper-content {
    position: relative;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 8px !important;
}
.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
    display: none;
    height: 0;
}
.mat-step-header .mat-step-icon {
    background-color: rgba($color: $gray, $alpha: 0);
    color: $gray;
}
.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled="false"] {
    border-radius: 50%;
    background-color: rgba($color: $gray, $alpha: 0);
}
.mat-step-header .mat-step-icon > .mat-step-icon-content {
    font-family: $font-poppins;
    font-weight: $font-weight-bold;
    opacity: 0.2;
}
.mat-step-header .mat-step-icon-selected > .mat-step-icon-content,
.mat-step-header .mat-step-icon-state-done > .mat-step-icon-content,
.mat-step-header .mat-step-icon-state-edit > .mat-step-icon-content {
    opacity: 1;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-edit {
    color: $blue;
}
.mat-step-header .mat-step-icon-state-done {
    color: $green;
}
.mat-horizontal-stepper-header::before,
.mat-horizontal-stepper-header::after,
.mat-stepper-horizontal-line {
    border-top-color: $gray;
    opacity: 0.15;
}
.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 18px;
}
.mat-stepper-horizontal-line {
    border-top-width: 3px !important;
}

::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    background: rgba($color: $gray-light, $alpha: 0);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgba($color: $gray, $alpha: 0.3);
    border-radius: 8px;
}
