<div class="card">
    <!-- Landing section -->
    <!--
    <section class="card__section card__section--blue card__section--left">
        <header>
            <h3 class="card-logo">Freelance Rate Calculator</h3>
        </header>
        <article class="card-article">
            <header class="card-article__header">
                <span class="card-article__index">00</span>
                <span class="card-article__sub">Landing</span>
                <h1 class="card-article__main">Fee Calculator</h1>
            </header>
        </article>
    </section>
    <section class="card__section card__section--white section-content section-content--landing">
        <form class="form">
            <span> Let's start your calculation </span>
            <button class="button button--primary button--cta" title="Start">Start</button>
        </form>
    </section>
    -->

    <!-- Stepper section - text on left, input on right -->
    <!--
    <section class="card__section card__section--gray card__section--left">
        <header>
            <h3 class="card-logo">Freelance Rate Calculator</h3>
        </header>
        <article class="card-article">
            <header class="card-article__header">
                <span class="card-article__index">01</span>
                <span class="card-article__sub">Living Expenses</span>
                <p class="card-article__text card-article__text--main">
                    Our quotes are customiyed for each practice to fulfill their unique needs.
                    Start by telling us a little bit about the practice.
                </p>
                <p class="card-article__text--sub card-article__text--bold">
                    Your integration type is: Reputation & Calendar (One-Way)
                </p>
                <p class="card-article__text--sub">
                    Patient surveys and appointment reminders & confirmations are sent to every
                    patient regardless if they booked online, by phone, in-person, etc.
                    The online scheduling widget will display a provider's availability.
                </p>
            </header>
        </article>
    </section>
    <section class="card__section card__section--white section-content section-content--stepper">
        <mat-horizontal-stepper class="card-stepper" labelPosition="bottom" #stepper linear>
            <mat-step [stepControl]="firstFormGroup" state="living">
                <ng-template matStepContent>
                    <form [formGroup]="firstFormGroup" class="card-stepper__form">
                        <h4 class="card-stepper__title">Living</h4>

                        <mat-form-field appearance="outline" class="input-field input-field--full">
                            <mat-label>Outline form field</mat-label>
                            <input matInput placeholder="Practice">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="input-field input-field--half">
                            <mat-label>Specialty</mat-label>
                            <mat-select>
                            <mat-option value="option">Option</mat-option>
                            </mat-select>
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="input-field input-field--half">
                            <mat-label>Postal Code</mat-label>
                            <input #input matInput maxlength="5" placeholder="Ex. 5">
                            <mat-hint>{{ input.value?.length || 0 }} / 5</mat-hint>
                        </mat-form-field>

                    </form>

                    <div class="card-stepper__button-holder">
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                            <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                            <span class="btn-text">Back</span>
                        </button>
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                            <span class="btn-text">Next</span>
                            <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                        </button>
                    </div>

                </ng-template>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" state="travel">
                <ng-template matStepContent>
                    placeholder
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                        <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                        <span class="btn-text">Back</span>
                    </button>
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                        <span class="btn-text">Next</span>
                        <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                    </button>
                </ng-template>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                placeholder
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                placeholder
            </mat-step>

            <ng-template matStepperIcon="living">
                <mat-icon>home</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="travel">
                <mat-icon>directions_car</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </section>
    -->

    <!-- Stepper section - scrolling on left, input on right -->
    <!--
    <section class="card__section card__section--gray card__section--left">
        <header>
            <h3 class="card-logo">Freelance Rate Calculator</h3>
        </header>
        <article class="card-article">
            <header class="card-article__header">
                <span class="card-article__index">03</span>
                <span class="card-article__sub">Mid Levels</span>

                <cdk-virtual-scroll-viewport itemSize="50" class="card-article__list-viewport">
                    <mat-list role="list" class="card-article__list">
                        <div class="card-article__list-group">
                            <h4 class="card-article__list-group-title">
                                <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                <span>Practice Growth</span>
                            </h4>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Reputation management</span>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Online scheduling for practise website</span>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Practice portal</span>
                            </mat-list-item>
                        </div>
                    </mat-list>

                    <mat-list role="list" class="card-article__list">
                        <div class="card-article__list-group">
                            <h4 class="card-article__list-group-title">
                                <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                <span>Practice Growth</span>
                            </h4>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Reputation management</span>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Online scheduling for practise website</span>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="card-article__item">
                                <mat-icon class="card-article__icon">check</mat-icon>
                                <span class="card-article__itemtext">Practice portal</span>
                            </mat-list-item>
                        </div>
                    </mat-list>
                </cdk-virtual-scroll-viewport>

            </header>
        </article>
    </section>
    <section class="card__section card__section--white section-content section-content--stepper">
        <mat-horizontal-stepper class="card-stepper" labelPosition="bottom" #stepper linear>
            <mat-step [stepControl]="firstFormGroup" state="living">
                <ng-template matStepContent>
                    <form [formGroup]="firstFormGroup" class="card-stepper__form">
                        <h4 class="card-stepper__title">Taxes</h4>
                        <div class="input-group">
                            <mat-slide-toggle 
                                (change)="toggleSingle()"
                                class="slide-toggle slide-toggle--inside-group align-start">Single Tax filing?</mat-slide-toggle>

                            <mat-form-field appearance="outline" class="input-field input-field--quarter align-end">
                                <mat-label>Monthly tax</mat-label>
                                <input matInput placeholder="Tax" [disabled]="singleToggled">
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" class="input-field input-field--seventy">
                            <mat-label>Monthly rate</mat-label>
                            <input matInput placeholder="$">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="input-field input-field--quarter">
                            <mat-label>Monthly rate</mat-label>
                            <input matInput placeholder="$">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-checkbox class="checkbox">
                            I'm a checkbox
                        </mat-checkbox>

                        <mat-radio-group aria-label="Select an option" class="input-group">
                            <mat-radio-button value="1" class="radiobutton">Option 1</mat-radio-button>
                            <mat-radio-button value="2" class="radiobutton">Option 2</mat-radio-button>
                        </mat-radio-group>

                    </form>

                    <div class="card-stepper__button-holder">
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                            <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                            <span class="btn-text">Back</span>
                        </button>
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                            <span class="btn-text">Next</span>
                            <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                        </button>
                    </div>

                </ng-template>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" state="travel">
                <ng-template matStepContent>
                    placeholder
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                        <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                        <span class="btn-text">Back</span>
                    </button>
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                        <span class="btn-text">Next</span>
                        <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                    </button>
                </ng-template>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                placeholder
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                placeholder
            </mat-step>

            <ng-template matStepperIcon="living">
                <mat-icon>home</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="travel">
                <mat-icon>directions_car</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </section>
    -->

    <!-- Stepper section - scrolling on left in tabs, input on right -->
    <!--
    <section class="card__section card__section--gray card__section--left">
        <header>
            <h3 class="card-logo">Freelance Rate Calculator</h3>
        </header>
        <article class="card-article">
            <header class="card-article__header">
                <span class="card-article__index">04</span>
                <span class="card-article__sub">Tabbed Levels</span>

                <mat-tab-group animationDuration="0ms" class="card-article__tab-viewport">
                    <mat-tab label="Foundation">
                        <cdk-virtual-scroll-viewport itemSize="50" class="card-article__list-viewport">
                            <mat-list role="list" class="card-article__list">
                                <div class="card-article__list-group">
                                    <h4 class="card-article__list-group-title">
                                        <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                        <span>Practice Growth</span>
                                    </h4>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Reputation management</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Online scheduling for practise website</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Practice portal</span>
                                    </mat-list-item>
                                </div>
                            </mat-list>

                            <mat-list role="list" class="card-article__list">
                                <div class="card-article__list-group">
                                    <h4 class="card-article__list-group-title">
                                        <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                        <span>Practice Growth</span>
                                    </h4>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Reputation management</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Online scheduling for practise website</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Practice portal</span>
                                    </mat-list-item>
                                </div>
                            </mat-list>
                        </cdk-virtual-scroll-viewport>
                    </mat-tab>
                    <mat-tab label="Pro">
                        <cdk-virtual-scroll-viewport itemSize="50" class="card-article__list-viewport">
                            <mat-list role="list" class="card-article__list">
                                <div class="card-article__list-group">
                                    <h4 class="card-article__list-group-title">
                                        <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                        <span>Practice Growth</span>
                                    </h4>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Reputation management</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Online scheduling for practise website</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Practice portal</span>
                                    </mat-list-item>
                                </div>
                            </mat-list>

                            <mat-list role="list" class="card-article__list">
                                <div class="card-article__list-group">
                                    <h4 class="card-article__list-group-title">
                                        <mat-icon class="card-article__list-group-title-icon">list</mat-icon>
                                        <span>Practice Growth</span>
                                    </h4>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Reputation management</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Online scheduling for practise website</span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem" class="card-article__item">
                                        <mat-icon class="card-article__icon">check</mat-icon>
                                        <span class="card-article__itemtext">Practice portal</span>
                                    </mat-list-item>
                                </div>
                            </mat-list>
                        </cdk-virtual-scroll-viewport>
                    </mat-tab>
                </mat-tab-group>
            </header>
        </article>
    </section>    
    <section class="card__section card__section--white section-content section-content--stepper">
        <mat-horizontal-stepper class="card-stepper" labelPosition="bottom" #stepper linear>
            <mat-step [stepControl]="firstFormGroup" state="living">
                <ng-template matStepContent>
                    <form [formGroup]="firstFormGroup" class="card-stepper__form">
                        <h4 class="card-stepper__title">Taxes</h4>
                        <div class="input-group">
                            <mat-slide-toggle 
                                (change)="toggleSingle()"
                                class="slide-toggle slide-toggle--inside-group align-start">Single Tax filing?</mat-slide-toggle>

                            <mat-form-field appearance="outline" class="input-field input-field--quarter align-end">
                                <mat-label>Monthly tax</mat-label>
                                <input matInput placeholder="Tax" [disabled]="singleToggled">
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" class="input-field input-field--seventy">
                            <mat-label>Monthly rate</mat-label>
                            <input matInput placeholder="$">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="input-field input-field--quarter">
                            <mat-label>Monthly rate</mat-label>
                            <input matInput placeholder="$">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <mat-checkbox class="checkbox">
                            I'm a checkbox
                        </mat-checkbox>

                        <mat-radio-group aria-label="Select an option" class="input-group">
                            <mat-radio-button value="1" class="radiobutton">Option 1</mat-radio-button>
                            <mat-radio-button value="2" class="radiobutton">Option 2</mat-radio-button>
                        </mat-radio-group>

                    </form>

                    <div class="card-stepper__button-holder">
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                            <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                            <span class="btn-text">Back</span>
                        </button>
                        <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                            <span class="btn-text">Next</span>
                            <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                        </button>
                    </div>

                </ng-template>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" state="travel">
                <ng-template matStepContent>
                    placeholder
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                        <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                        <span class="btn-text">Back</span>
                    </button>
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                        <span class="btn-text">Next</span>
                        <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                    </button>
                </ng-template>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                placeholder
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                placeholder
            </mat-step>

            <ng-template matStepperIcon="living">
                <mat-icon>home</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="travel">
                <mat-icon>directions_car</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </section>
    -->

    <!-- Result section - scrolling on left in sections, big data on right -->

    <section class="card__section card__section--blue card__section--left">
        <header>
            <h3 class="card-logo">Freelance Rate Calculator</h3>
        </header>
        <article class="card-article">
            <header class="card-article__header">
                <span class="card-article__index">07</span>
                <span class="card-article__sub">Calculation summary</span>

                <cdk-virtual-scroll-viewport itemSize="50" class="card-article__list-viewport">
                    <mat-list role="list" class="card-article__list">
                        <table class="card-article__table">
                            <caption class="card-article__caption">
                                Monthly savings
                            </caption>
                            <tr>
                                <th class="card-article__th">Month</th>
                                <th class="card-article__th">Savings</th>
                            </tr>
                            <tr>
                                <td class="card-article__td">January</td>
                                <td class="card-article__td">$100</td>
                            </tr>
                            <tr>
                                <td class="card-article__td">February</td>
                                <td class="card-article__td">$50</td>
                            </tr>
                            <tr>
                                <td class="card-article__td">March</td>
                                <td class="card-article__td">$250</td>
                            </tr>
                        </table>
                        <table class="card-article__table">
                            <caption class="card-article__caption">
                                Services
                            </caption>
                            <tr>
                                <th class="card-article__th">Month</th>
                                <th class="card-article__th">Savings</th>
                            </tr>
                            <tr>
                                <td class="card-article__td">January</td>
                                <td class="card-article__td">$100</td>
                            </tr>
                            <tr>
                                <td class="card-article__td">February</td>
                                <td class="card-article__td">$50</td>
                            </tr>
                            <tr>
                                <td class="card-article__td">March</td>
                                <td class="card-article__td">$250</td>
                            </tr>
                        </table>
                    </mat-list>
                </cdk-virtual-scroll-viewport>
            </header>
        </article>
    </section>
    <section class="card__section card__section--white section-content section-content--stepper">
        <mat-horizontal-stepper class="card-stepper" labelPosition="bottom" #stepper linear>
            <mat-step [stepControl]="firstFormGroup" state="living">
                <ng-template matStepContent>
                    <form [formGroup]="firstFormGroup" class="card-stepper__form">
                        <h4 class="card-stepper__title">Results</h4>

                        <div class="input-group">
                            <div class="card-stepper__result-container">
                                <h4 class="card-stepper__result-title">Yearly savings</h4>

                                <h5 class="card-stepper__result-subtitle">Total monthly savings</h5>
                                <span class="amount">$1350</span>

                                <h5 class="card-stepper__result-subtitle">Total services</h5>
                                <span class="amount">$1350</span>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" state="travel">
                <ng-template matStepContent>
                    placeholder
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperPrevious>
                        <mat-icon class="btn-icon" iconPositionStart>chevron_left</mat-icon>
                        <span class="btn-text">Back</span>
                    </button>
                    <button mat-stroked-button color="primary" class="card-stepper__button" matStepperNext>
                        <span class="btn-text">Next</span>
                        <mat-icon class="btn-icon" iconPositionEnd>chevron_right</mat-icon>
                    </button>
                </ng-template>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup"> placeholder </mat-step>
            <mat-step [stepControl]="fourthFormGroup"> placeholder </mat-step>

            <ng-template matStepperIcon="living">
                <mat-icon>home</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="travel">
                <mat-icon>directions_car</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </section>
</div>
