@charset "UTF-8";
/* For use in src/lib/core/theming/_palette.scss */
$frcPalette: (
    50: #e6f3fe,
    100: #bfe0fd,
    200: #95ccfb,
    300: #6bb7f9,
    400: #4ba7f8,
    500: #2b98f7,
    600: #2690f6,
    700: #2085f5,
    800: #1a7bf3,
    900: #106af1,
    A100: #ffffff,
    A200: #ebf2ff,
    A400: #b8d1ff,
    A700: #9ec1ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
