@charset "UTF-8";

@use "@angular/material" as mat;
@import "custom-palette";
@include mat.core();

$custom-primary: mat.m2-define-palette($frcPalette);
$custom-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $custom-primary,
            accent: $custom-accent,
            warn: $custom-warn,
        ),
    )
);

@include mat.all-component-themes($custom-theme);
