@charset "UTF-8";
/// Main variables for the project stored here
///
/// Font variables are defined here
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght,YTLC@6..12,200..1000,440..540&family=Poppins:wght@400;600&display=swap");
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-poppins: "Poppins", sans-serif;
$font-nunito: "Nunito Sans", sans-serif;
/// nunito> light, regular, semibold
/// poppins> regular, semibold

/// Color variables are defined here
/// todo: change for theming with root variables
$gray: #334051;
$blue: #2b98f7;
$gray-light: #f5f8fb;
$white: #fff;
$black: #000;
$green: #00b894;
$orange: #fdcb6e;

/// Extra variables are defined here
$box-shadow: 0px 1.1px 1.8px rgba($black, 0.035), 0px 3px 5px rgba($black, 0.05), 0px 7.2px 12.1px rgba($black, 0.065), 0px 24px 40px rgba($black, 0.1);
