@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@import "material";
@import "variables";
@import "mixins";

html {
    height: 100%;
}

body {
    @include font-size(16px);
    margin: 0;
    background-color: $gray;
    font-family: $font-nunito;
    font-weight: $font-weight-regular;
    font-style: normal;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
