/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import "variables";

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: $gray;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 40px);
    padding: 20px;
    gap: 20px;
}
